<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart News</title>
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link href="https://fonts.googleapis.com/css2?family=The+Seasons&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="project-name">
                <span class="large-letter">S</span>mart <span class="large-letter">N</span>ews
            </div>
        </header>
        
        <div class="content">
            <h2>About Us</h2>
            <p>
                Welcome to Smart News, your go-to web app for staying informed with the latest and most relevant news.
                We use advanced AI algorithms to deliver personalized news tailored to your interests, ensuring you never miss a story that matters.
                Stay smart, stay updated, and explore the world with us!
            </p>
        </div>

        <div class="buttons">
            <button id="prev" class="hidden">❮</button>
            <button id="next">Next ➤</button>
        </div>
    </div>

    <script src="../static/css/aboutus.js"></script>
</body>
</html>
